/* 
File Name: index.css
Student's Name: Chi Wo Chan, Luke
Student ID: 301369595
Date: 28/9/2024
*/

/* Global Styles */
html {
  position: relative;
  min-height: 100%;
}

/* Footer Styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #f5f5f5ba;
  text-align: center;
  font-size: small;
}

/* Navigation Styles */
.nav-item{
  margin-right: 0.5em;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: snow;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: #ddd;
}

/* Main content styles */
.main-content {
  min-height: calc(100vh - 120px); /* Adjust based on header and footer height */
  padding: 2rem 0;
}

h1 {
  padding-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: goldenrod;
  text-align: left;
  text-shadow: 2px 2px 2px #333;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkcyan;
  text-align: left;
}

/* Home page styles */
.home{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

.home h1{
  font-size: 2.5rem;
  margin: 1rem;
  padding: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:goldenrod;
  text-align: center;
}

.home span{
  color: goldenrod;
  font-style: italic;
}

.home h3{
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkcyan;
  text-align: left;
}


.mission {
  background-color: #f4f4f4; 
  padding: 1rem; 
  font-style: italic; 
  color: #333; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s, box-shadow 0.3s; 
  border-radius: 4px; 
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.5s forwards; 
}

/* Hover Effect */
.mission:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}

.quote {
  padding: 10px 15px; 
  margin: 20px 0; 
  font-style: italic; 
  font-size: 0.8rem; 
  color: #333; 
  transition: transform 0.3s, box-shadow 0.3s; 
  border-radius: 8px; 
  opacity: 0; 
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards; 
  text-align: right;
}

/* Entrance Animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0); /* End position */
  }
}

/* about page styles */
.about {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}


.about-text{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  width: 60%;
}

.about-text p{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;

}

.skills{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 1rem;
  color: #333; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s, box-shadow 0.3s; 
  border-radius: 4px; 
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.5s forwards; 
}
/* Hover Effect */
.about-content:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}

.about ul{
  text-align: left;
}

.about li{
  list-style: none;
}

/* projects page styles */
.projects{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

/* contact page styles */
.contact{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}



/* services page styles */
.services{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

/* Button styles */
.btn {
  display: inline-block;
  background-color: #135dab;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: orange;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Grid layout */
.grid {
  display: grid;
  flex-direction: column;
  gap: 2rem;
  padding: 1em;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
  border-radius: 4px;
}

/* Card styles */
.card {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 1rem;
  color: #333; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  margin-bottom: 1em;
  transition: transform 0.3s, box-shadow 0.3s; 
  border-radius: 4px; 
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.5s forwards; 
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.card h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkcyan;
  text-align: left;
}

.card p{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: left;
}


/* Form styles */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
  padding-left: 0.5rem;
}

/* Contact form styles */
.contact-form{
  background-color:antiquewhite; 
  padding: 1rem; 
  font-style: italic; 
  color: #333; 
  transition: transform 0.3s, box-shadow 0.3s; 
  border-radius: 4px; 
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.5s forwards;
  margin: 0 auto; 
  max-width: 500px;
  text-align: center; 
}

.contact-form-outter{
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 1rem;
  color: #333; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  margin-bottom: 1em;
  transition: transform 0.3s, box-shadow 0.3s; 
  border-radius: 4px; 
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.5s forwards; 
}

.contact-form:hover {
  transform: translateY(-5px); 
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Responsive design */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-content {
    flex-direction: column;
  }

  .about-text{
    width: 100%;
  }

  .nav ul {
    margin-top: 1rem;
  }

  .nav li {
    margin-left: 0;
    margin-right: 20px;
  }
}